@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 39 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 95 58% 88%;
    --secondary-foreground: 97 38% 28%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 195 53% 79%;
    --accent-foreground: 198 45% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 39 100% 50%;
    --chart-1: 39 100% 50%;
    --chart-2: 150 70% 40%;
    --chart-3: 200 80% 55%;
    --chart-4: 300 75% 60%;
    --chart-5: 20 85% 55%;
    --radius: 0.5rem;
    --sidebar-background: 90 39% 15%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 39 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 90 28% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 90 28% 25%;
    --sidebar-ring: 39 100% 50%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 6.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 39 100% 50%;
    --primary-foreground: 39 80% 10%;
    --secondary: 95 38% 18%;
    --secondary-foreground: 95 58% 88%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 215 21.4% 46.9%;
    --accent: 195 45% 25%;
    --accent-foreground: 195 53% 79%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 39 100% 50%;
    --chart-1: 39 100% 50%;
    --chart-2: 150 70% 40%;
    --chart-3: 200 80% 55%;
    --chart-4: 300 75% 60%;
    --chart-5: 20 85% 55%;
    --sidebar-background: 90 39% 15%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 39 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 90 28% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 90 28% 25%;
    --sidebar-ring: 39 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
